//- views/layout.jade -- master layout
// Copyright 2014 Sergei Ianovich
//
// Licensed under AGPL-3.0 or later, see LICENSE
// Process Control Service Web Interface

doctype html
html(ng-app="pcs")
  head
    title= title + ' - asupt.io'
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='css/app.css')
  body(ng-controller="PageCtrl")
    header.navbar
      .navbar-header
        a.navbar-brand(href='/') asutp.io
      nav.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            button(type='button', data-toggle='dropdown').btn.dropdown-toggle
              = operator.name
              p(style="display:none", pcs-operator-id)= operator._id
              p(style="display:none", pcs-operator-admin)= operator.admin
              p(style="display:none", pcs-operator-superadmin)= operator.superadmin
              p(style="display:none", pcs-operator-rights)= JSON.stringify(operator.rights)
              p(style="display:none", ng-init="operator.knownRights = {\
              'User': { name: '"+t('user.rights.user.name')+"', values: {\
              index: '"+t('user.rights.user.index')+"', show: '"+t('user.rights.user.show')+"', \
              create: '"+t('user.rights.user.create')+"', edit: '"+t('user.rights.user.edit')+"'}},\
              'Device': { name: '"+t('user.rights.device.name')+"', values: {\
              index: '"+t('user.rights.device.index')+"', show: '"+t('user.rights.device.show')+"', \
              create: '"+t('user.rights.device.create')+"', edit: '"+t('user.rights.device.edit')+"', \
              claim: '"+t('user.rights.device.claim')+"'}}}")
              span.caret
            ul.dropdown-menu
              li
                a(href='#/users/#{operator._id}') Профиль
              li
                form(method='post', action='/signout', accept-charset="UTF-8").form-signout
                  input(type='hidden',name='_method',value='delete')
                  input(type='hidden',name='_csrf',value=csrf)
                  input(type='submit',name='submit',value=t('session.sign_out'))
      .tp-flash-container
        .clearfix
        .tp-flash
          each m in messages
            .alert.alert-dismissable(class='alert-'+m.severity)
              button.close(type='button', data-dismiss='alert') &times;
              = t(m.key, m.options)
    .tp-toolbar.row
      .col-xs-12.col-md-10.col-xl-14.pull-right
        .pull-right(ng-if="pager.show")
          .page
            b {{pager.first}}
            | –
            b {{pager.last}}
            = ' ' + t('pagination.of') + ' '
            b {{pager.count}}
          ul.pagination
            li(ng-if="pager.prev"): a(href='{{pager.prev}}')= '<'
            li(ng-if="!pager.prev"): a(ng-href='')= '<'
            li(ng-if="pager.next"): a(href='{{pager.next}}')= '>'
            li(ng-if="!pager.next"): a(ng-href='')= '>'

    .tp-main.row
      .col-xs-4.col-md-2.col-xl-2.tp-sidebar
        ul.nav.tp-tools-side(ng-if="createActions.length > 0")
          li(pcs-operator-can="{{createActions[0].action}}", access-klass="{{klass}}", operator="operator" ng-if="singleBtnMode()")
            a.btn.btn-sm.btn-danger(href="{{createActions[0].url}}")= "{{createActions[0].name}}"
          li(ng-if="multiBtnMode()")
            button.btn.btn-sm.btn-danger.dropdown-toggle(type="button", data-toggle="dropdown")
              = t('action.undefined')
              span.caret
            ul.dropdown-menu(role="menu")
              li(pcs-operator-can="{{item.action}}", access-klass="{{klass}}", operator="operator" ng-repeat="item in createActions"): a(href="{{item.url}}")= "{{item.name}}"
        ul.nav.tp-menu-side(ng-controller="NavCtrl")
          li(pcs-operator-can="index", access-klass="Site", operator="operator", ng-class="{ active: isActive('#/sites') }")
            a(href='#/sites')= t('site.self.plural')
          li(pcs-operator-can="index", access-klass="Device", operator="operator", ng-class="{ active: isActive('#/devices') }")
            a(href='#/devices')= t('device.self.plural')
          li(pcs-operator-can="index", access-klass="User", operator="operator", ng-class="{ active: isActive('#/users') }")
            a(href='#/users')= t('user.self.plural')
          li(pcs-operator-can="index", access-klass="Right", operator="operator", ng-class="{ active: isActive('#/rights') }")
            a(href='#/rights')= t('right.self.plural')
      .col-xs-12.col-md-10.col-xl-14.tp-content
        div(ng-view)
        include _footer
    script(src='bower_components/jquery/jquery.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-resource/angular-resource.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='bower_components/moment/moment.js')
    script(src='bower_components/moment/lang/ru.js')
    script(src='bower_components/checklist-model/checklist-model.js')
    script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/controllers.js')
    script(src='js/filters.js')
    script(src='js/directives.js')

//- vim:ts=2 sts=2 sw=2 et:
